.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-tmChCPrPTfOr);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.pageLayout:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.section__amL9 {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.section__amL9 > * {
  grid-column: 4;
}
.freeBox__esk53 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.section__skjjv {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 12px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 24px 0 0px;
}
.section__skjjv > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__skjjv > * {
    grid-column: 4;
  }
}
.freeBox___9WJYz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-ynNWZ7tvnRCJ);
  min-width: 0;
  border-radius: 8px;
  padding: 8px 16px;
}
.freeBox__dpoB1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__tkzdM {
  color: var(--token-k4RXvn3hjSr5);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  height: auto;
  width: auto;
}
.freeBox__vswKj {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__vswKj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__vswKj > :global(.__wab_flex-container) > *,
.freeBox__vswKj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vswKj > :global(.__wab_flex-container) > picture > img,
.freeBox__vswKj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.start:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.end:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__bvt7 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.freeBox__bvt7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__bvt7 > :global(.__wab_flex-container) > *,
.freeBox__bvt7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bvt7 > :global(.__wab_flex-container) > picture > img,
.freeBox__bvt7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bvt7 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bvt7 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bvt7 > :global(.__wab_flex-container) > *,
  .freeBox__bvt7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bvt7 > :global(.__wab_flex-container) > picture > img,
  .freeBox__bvt7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.statistic___3N2Vb:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox___7K5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  min-width: 0;
  padding: 0px;
}
.text__xiLfn {
  color: var(--token-k4RXvn3hjSr5);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__oAcKh {
  position: relative;
  object-fit: cover;
  max-width: 24px;
  max-height: 24px;
}
.img__oAcKh > picture > img {
  object-fit: cover;
}
.h2___2Fv3V {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  position: relative;
  color: #000000;
  font-weight: 700;
  min-width: 0;
  padding: 0px;
}
.statistic__kfDpg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__wlpm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  min-width: 0;
  padding: 0px;
}
.text__w6YN {
  color: var(--token-k4RXvn3hjSr5);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__sVrgh {
  position: relative;
  object-fit: cover;
  max-width: 24px;
  max-height: 24px;
}
.img__sVrgh > picture > img {
  object-fit: cover;
}
.h2___4H5Gx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  min-width: 0;
  padding: 0px;
}
.statistic__s0XZn:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__r8Vd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  min-width: 0;
  padding: 0px;
}
.text__abbG {
  color: var(--token-k4RXvn3hjSr5);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__xuJhq {
  position: relative;
  object-fit: cover;
  max-width: 24px;
  max-height: 24px;
}
.img__xuJhq > picture > img {
  object-fit: cover;
}
.freeBox__sy7Dp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h2__hjBdy {
  height: auto;
  max-width: 100%;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  width: auto;
}
.section__xfGC {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 16px 0 8px;
}
.section__xfGC > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__xfGC > * {
    grid-column: 4;
  }
}
.freeBox__yv5AQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 12px;
  padding: 16px 24px;
  border: 1px solid #eff0f6;
}
.freeBox__yv5AQ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__yv5AQ > :global(.__wab_flex-container) > *,
.freeBox__yv5AQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yv5AQ > :global(.__wab_flex-container) > picture > img,
.freeBox__yv5AQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__gTv6Q {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h2__oOdE {
  color: var(--token-k4RXvn3hjSr5);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  padding-right: 0px;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.chart__vrnye:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.section__pOjYl {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 48px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0 0px;
}
.section__pOjYl > * {
  grid-column: 4;
}
.freeBox__yBez {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 12px;
  padding: 16px 24px;
  border: 1px solid #eff0f6;
}
.freeBox__yBez > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__yBez > :global(.__wab_flex-container) > *,
.freeBox__yBez > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yBez > :global(.__wab_flex-container) > picture > img,
.freeBox__yBez
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__x1JW {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h2__c5IK {
  color: var(--token-k4RXvn3hjSr5);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.chart__v333:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
