@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-cBuiB5eywchs: 16px;
  --plasmic-token-h-2: var(--token-cBuiB5eywchs);
  --token-75l1ljCC77au: #2a2b37;
  --plasmic-token-neutral-900: var(--token-75l1ljCC77au);
  --token-k4RXvn3hjSr5: #383848;
  --plasmic-token-neutral-800: var(--token-k4RXvn3hjSr5);
  --token-68qUei1QL928: #48485c;
  --plasmic-token-neutral-700: var(--token-68qUei1QL928);
  --token-gY_YTYsCeLlV: #5c5d76;
  --plasmic-token-neutral-600: var(--token-gY_YTYsCeLlV);
  --token-rFvlozF1b7wC: #656682;
  --plasmic-token-neutral-500: var(--token-rFvlozF1b7wC);
  --token-eJqtXSAoH1dx: #84859b;
  --plasmic-token-neutral-400: var(--token-eJqtXSAoH1dx);
  --token-zq0mHVL8uVE_: #9898ab;
  --plasmic-token-neutral-300: var(--token-zq0mHVL8uVE_);
  --token-js47SdpOQrBZ: #b8b9c6;
  --plasmic-token-neutral-200: var(--token-js47SdpOQrBZ);
  --token-JQGCaK6IIdNJ: #cfd0d8;
  --plasmic-token-neutral-100: var(--token-JQGCaK6IIdNJ);
  --token-tmChCPrPTfOr: #f0f0f3;
  --plasmic-token-neutral-050: var(--token-tmChCPrPTfOr);
  --token-04uzQu-RSoTC: 14px;
  --plasmic-token-body-small: var(--token-04uzQu-RSoTC);
  --token-NUD_pJHyMNII: 20px;
  --plasmic-token-body-small-2: var(--token-NUD_pJHyMNII);
  --token-9PMPiomvcaD3: #01471e;
  --plasmic-token-success-text: var(--token-9PMPiomvcaD3);
  --token-MeCZSVfdfF0l: #dffbea;
  --plasmic-token-success-bg: var(--token-MeCZSVfdfF0l);
  --token-V8fLzAb_LPKc: #aff5cb;
  --plasmic-token-success-200: var(--token-V8fLzAb_LPKc);
  --token-1HgTXrB8kTGv: #87efb1;
  --plasmic-token-success-300: var(--token-1HgTXrB8kTGv);
  --token-JJVjkYao7Ij5: #5fea97;
  --plasmic-token-success-400: var(--token-JJVjkYao7Ij5);
  --token-eo1vbYVi3LG3: #37e57d;
  --plasmic-token-success-500: var(--token-eo1vbYVi3LG3);
  --token-RbmgGgdjzuOY: #24bf63;
  --plasmic-token-success-600: var(--token-RbmgGgdjzuOY);
  --token-Sq7CAUIY1rO9: #159649;
  --plasmic-token-success-700: var(--token-Sq7CAUIY1rO9);
  --token-6kqIiW41AU0s: #096e32;
  --plasmic-token-success-800: var(--token-6kqIiW41AU0s);
  --token-y3SHbbIeUVK8: #d7faf8;
  --plasmic-token-secondary-100: var(--token-y3SHbbIeUVK8);
  --token-gVo71UGF013A: #aff5f0;
  --plasmic-token-secondary-200: var(--token-gVo71UGF013A);
  --token-1wEPqgdGq__X: #87efe8;
  --plasmic-token-secondary-300: var(--token-1wEPqgdGq__X);
  --token-SYFvKFnAcC56: #5feae1;
  --plasmic-token-secondary-400: var(--token-SYFvKFnAcC56);
  --token-9ZnDl8ESpkWC: #37e5db;
  --plasmic-token-secondary-500: var(--token-9ZnDl8ESpkWC);
  --token-MgbYe9IBJ_cC: #24bfb5;
  --plasmic-token-secondary-600: var(--token-MgbYe9IBJ_cC);
  --token-7fj3fFVKx5Ys: #15968e;
  --plasmic-token-secondary-700: var(--token-7fj3fFVKx5Ys);
  --token-IRNBINsktfWw: #096e67;
  --plasmic-token-secondary-800: var(--token-IRNBINsktfWw);
  --token-ubjicE9NWeoR: #014743;
  --plasmic-token-secondary-900: var(--token-ubjicE9NWeoR);
  --token-Tr4mb1W19cam: #d8d8fa;
  --plasmic-token-primary-100: var(--token-Tr4mb1W19cam);
  --token-8BV-Y0U61ciA: #b0b1f4;
  --plasmic-token-primary-200: var(--token-8BV-Y0U61ciA);
  --token-rkPO0rkwJ_ex: #898bef;
  --plasmic-token-primary-300: var(--token-rkPO0rkwJ_ex);
  --token-1EtQ3SzGoyLF: #6164e9;
  --plasmic-token-primary-400: var(--token-1EtQ3SzGoyLF);
  --token-BX3-vUa_PdwY: #3a3de4;
  --plasmic-token-primary-500: var(--token-BX3-vUa_PdwY);
  --token-zvTYrfOrvIp7: #2225bf;
  --plasmic-token-primary-600: var(--token-zvTYrfOrvIp7);
  --token-NqTd3cY4aJk6: #141696;
  --plasmic-token-primary-700: var(--token-NqTd3cY4aJk6);
  --token-EcqiWeUT2mE7: #08096e;
  --plasmic-token-primary-800: var(--token-EcqiWeUT2mE7);
  --token-PGWYJwmRWk6h: #010347;
  --plasmic-token-primary-900: var(--token-PGWYJwmRWk6h);
  --token-ptNQ0XI6DLmB: #f2f3fd;
  --plasmic-token-primary-050: var(--token-ptNQ0XI6DLmB);
  --token-yTgwZ6f-wouf: #faf6d7;
  --plasmic-token-warning-100: var(--token-yTgwZ6f-wouf);
  --token-47ptcV6JMJmT: #f5eeaf;
  --plasmic-token-warning-200: var(--token-47ptcV6JMJmT);
  --token-1RbbwDTN4aH1: #efe587;
  --plasmic-token-warning-300: var(--token-1RbbwDTN4aH1);
  --token-wpVp8GLEi3XE: #eadd5f;
  --plasmic-token-warning-400: var(--token-wpVp8GLEi3XE);
  --token-IE8fzPlFhXot: #e5d437;
  --plasmic-token-warning-500: var(--token-IE8fzPlFhXot);
  --token-X-v6akmfuLc2: #bfb024;
  --plasmic-token-warning-600: var(--token-X-v6akmfuLc2);
  --token-6adzRP_hilxO: #998c15;
  --plasmic-token-warning-700: var(--token-6adzRP_hilxO);
  --token-URznULb3ovxk: #6e6408;
  --plasmic-token-warning-800: var(--token-URznULb3ovxk);
  --token-Sq2zNwHgN6Ea: #383302;
  --plasmic-token-warning-900: var(--token-Sq2zNwHgN6Ea);
  --token-ibYcAylG6mk5: #fad7d7;
  --plasmic-token-danger-100: var(--token-ibYcAylG6mk5);
  --token-6HIgu98MgBXt: #f18787;
  --plasmic-token-danger-300: var(--token-6HIgu98MgBXt);
  --token-99bjA-RUrevo: #f6afaf;
  --plasmic-token-danger-200: var(--token-99bjA-RUrevo);
  --token-YZvjKia2IAgi: #ed6060;
  --plasmic-token-danger-400: var(--token-YZvjKia2IAgi);
  --token-lPqsI5CnFCAY: #e83838;
  --plasmic-token-danger-500: var(--token-lPqsI5CnFCAY);
  --token-FPVTcu7xFRIM: #c22525;
  --plasmic-token-danger-600: var(--token-FPVTcu7xFRIM);
  --token-nXRjnPVqT4nx: #9c1616;
  --plasmic-token-danger-700: var(--token-nXRjnPVqT4nx);
  --token-JHRQrO5zHhds: #6b0707;
  --plasmic-token-danger-800: var(--token-JHRQrO5zHhds);
  --token-5VUY51WCKJv0: #360202;
  --plasmic-token-danger-900: var(--token-5VUY51WCKJv0);
  --token-ynNWZ7tvnRCJ: #fdfdfd;
  --plasmic-token-neutral-0: var(--token-ynNWZ7tvnRCJ);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-NvlrSu_yhZgp_font-family: "Inter", sans-serif;
  --mixin-NvlrSu_yhZgp_font-size: 14px;
  --mixin-NvlrSu_yhZgp_font-weight: 400;
  --mixin-NvlrSu_yhZgp_font-style: normal;
  --mixin-NvlrSu_yhZgp_color: var(--token-zq0mHVL8uVE_);
  --mixin-NvlrSu_yhZgp_text-align: left;
  --mixin-NvlrSu_yhZgp_text-transform: none;
  --mixin-NvlrSu_yhZgp_line-height: 21px;
  --mixin-NvlrSu_yhZgp_letter-spacing: -0.6%;
  --mixin-NvlrSu_yhZgp_white-space: pre-wrap;
  --mixin-NvlrSu_yhZgp_user-select: text;
  --mixin-NvlrSu_yhZgp_text-decoration-line: none;
  --mixin-NvlrSu_yhZgp_text-overflow: clip;
  --mixin-xKERUE4ve7GH_color: var(--token-75l1ljCC77au);
  --mixin-xKERUE4ve7GH_font-weight: 600;
  --mixin-xKERUE4ve7GH_font-size: 26px;
  --mixin-xKERUE4ve7GH_line-height: 32px;
  --mixin-xKERUE4ve7GH_letter-spacing: -1%;
  --mixin-xKERUE4ve7GH_white-space: pre-wrap;
  --mixin-puYfjVew0YH-_color: var(--token-75l1ljCC77au);
  --mixin-puYfjVew0YH-_font-size: 23px;
  --mixin-puYfjVew0YH-_font-weight: 700;
  --mixin-puYfjVew0YH-_line-height: 28px;
  --mixin-puYfjVew0YH-_font-family: "Inter", sans-serif;
  --mixin-puYfjVew0YH-_letter-spacing: -1%;
  --mixin-puYfjVew0YH-_white-space: pre-wrap;
  --mixin-UrHOgHwnvaN__color: #0070f3;
  --mixin-UrHOgHwnvaN__white-space: pre-wrap;
  --mixin-wmbMP5AvdAYM_color: var(--token-75l1ljCC77au);
  --mixin-wmbMP5AvdAYM_font-size: 20px;
  --mixin-wmbMP5AvdAYM_font-weight: 700;
  --mixin-wmbMP5AvdAYM_line-height: 24px;
  --mixin-wmbMP5AvdAYM_letter-spacing: -1%;
  --mixin-wmbMP5AvdAYM_font-family: "Inter", sans-serif;
  --mixin-wmbMP5AvdAYM_white-space: pre-wrap;
  --mixin-cbbRAF6R7ijN_color: var(--token-75l1ljCC77au);
  --mixin-cbbRAF6R7ijN_font-size: 18px;
  --mixin-cbbRAF6R7ijN_font-weight: 700;
  --mixin-cbbRAF6R7ijN_line-height: 24px;
  --mixin-cbbRAF6R7ijN_letter-spacing: -1%;
  --mixin-cbbRAF6R7ijN_font-family: "Inter", sans-serif;
  --mixin-cbbRAF6R7ijN_white-space: pre-wrap;
  --mixin-bUlQlP2cdsLI_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-bUlQlP2cdsLI_border-bottom-color: #dddddd;
  --mixin-bUlQlP2cdsLI_border-bottom-style: solid;
  --mixin-bUlQlP2cdsLI_border-bottom-width: 1px;
  --mixin-bUlQlP2cdsLI_border-left-color: #dddddd;
  --mixin-bUlQlP2cdsLI_border-left-style: solid;
  --mixin-bUlQlP2cdsLI_border-left-width: 1px;
  --mixin-bUlQlP2cdsLI_border-right-color: #dddddd;
  --mixin-bUlQlP2cdsLI_border-right-style: solid;
  --mixin-bUlQlP2cdsLI_border-right-width: 1px;
  --mixin-bUlQlP2cdsLI_border-top-color: #dddddd;
  --mixin-bUlQlP2cdsLI_border-top-style: solid;
  --mixin-bUlQlP2cdsLI_border-top-width: 1px;
  --mixin-bUlQlP2cdsLI_border-bottom-left-radius: 3px;
  --mixin-bUlQlP2cdsLI_border-bottom-right-radius: 3px;
  --mixin-bUlQlP2cdsLI_border-top-left-radius: 3px;
  --mixin-bUlQlP2cdsLI_border-top-right-radius: 3px;
  --mixin-bUlQlP2cdsLI_font-family: "Inconsolata";
  --mixin-bUlQlP2cdsLI_padding-bottom: 1px;
  --mixin-bUlQlP2cdsLI_padding-left: 4px;
  --mixin-bUlQlP2cdsLI_padding-right: 4px;
  --mixin-bUlQlP2cdsLI_padding-top: 1px;
  --mixin-bUlQlP2cdsLI_white-space: pre-wrap;
  --mixin-chUnfFChMwnm_border-left-color: #dddddd;
  --mixin-chUnfFChMwnm_border-left-style: solid;
  --mixin-chUnfFChMwnm_border-left-width: 3px;
  --mixin-chUnfFChMwnm_color: #888888;
  --mixin-chUnfFChMwnm_padding-left: 10px;
  --mixin-chUnfFChMwnm_white-space: pre-wrap;
  --mixin-xmUHDGrm-8uy_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-xmUHDGrm-8uy_border-bottom-color: #dddddd;
  --mixin-xmUHDGrm-8uy_border-bottom-style: solid;
  --mixin-xmUHDGrm-8uy_border-bottom-width: 1px;
  --mixin-xmUHDGrm-8uy_border-left-color: #dddddd;
  --mixin-xmUHDGrm-8uy_border-left-style: solid;
  --mixin-xmUHDGrm-8uy_border-left-width: 1px;
  --mixin-xmUHDGrm-8uy_border-right-color: #dddddd;
  --mixin-xmUHDGrm-8uy_border-right-style: solid;
  --mixin-xmUHDGrm-8uy_border-right-width: 1px;
  --mixin-xmUHDGrm-8uy_border-top-color: #dddddd;
  --mixin-xmUHDGrm-8uy_border-top-style: solid;
  --mixin-xmUHDGrm-8uy_border-top-width: 1px;
  --mixin-xmUHDGrm-8uy_border-bottom-left-radius: 3px;
  --mixin-xmUHDGrm-8uy_border-bottom-right-radius: 3px;
  --mixin-xmUHDGrm-8uy_border-top-left-radius: 3px;
  --mixin-xmUHDGrm-8uy_border-top-right-radius: 3px;
  --mixin-xmUHDGrm-8uy_font-family: "Inconsolata";
  --mixin-xmUHDGrm-8uy_padding-bottom: 3px;
  --mixin-xmUHDGrm-8uy_padding-left: 6px;
  --mixin-xmUHDGrm-8uy_padding-right: 6px;
  --mixin-xmUHDGrm-8uy_padding-top: 3px;
  --mixin-xmUHDGrm-8uy_white-space: pre-wrap;
  --mixin-Cr90pgKNuF2c_display: flex;
  --mixin-Cr90pgKNuF2c_flex-direction: column;
  --mixin-Cr90pgKNuF2c_align-items: stretch;
  --mixin-Cr90pgKNuF2c_justify-content: flex-start;
  --mixin-Cr90pgKNuF2c_list-style-position: outside;
  --mixin-Cr90pgKNuF2c_padding-left: 40px;
  --mixin-Cr90pgKNuF2c_position: relative;
  --mixin-Cr90pgKNuF2c_list-style-type: disc;
  --mixin-Cr90pgKNuF2c_white-space: pre-wrap;
  --mixin-C_D_hysQH2Om_display: flex;
  --mixin-C_D_hysQH2Om_flex-direction: column;
  --mixin-C_D_hysQH2Om_align-items: stretch;
  --mixin-C_D_hysQH2Om_justify-content: flex-start;
  --mixin-C_D_hysQH2Om_list-style-position: outside;
  --mixin-C_D_hysQH2Om_padding-left: 40px;
  --mixin-C_D_hysQH2Om_position: relative;
  --mixin-C_D_hysQH2Om_list-style-type: decimal;
  --mixin-C_D_hysQH2Om_white-space: pre-wrap;
  --mixin-KCPfguur6uz0_color: var(--token-k4RXvn3hjSr5);
  --mixin-KCPfguur6uz0_font-size: 16px;
  --mixin-KCPfguur6uz0_font-weight: 600;
  --mixin-KCPfguur6uz0_line-height: 20px;
  --mixin-KCPfguur6uz0_letter-spacing: -1%;
  --mixin-KCPfguur6uz0_font-family: "Inter", sans-serif;
  --mixin-KCPfguur6uz0_white-space: pre-wrap;
  --mixin-isGArh_qjcqY_color: var(--token-75l1ljCC77au);
  --mixin-isGArh_qjcqY_font-size: 14px;
  --mixin-isGArh_qjcqY_font-weight: 600;
  --mixin-isGArh_qjcqY_line-height: 20px;
  --mixin-isGArh_qjcqY_letter-spacing: 1%;
  --mixin-isGArh_qjcqY_font-family: "Inter", sans-serif;
  --mixin-isGArh_qjcqY_white-space: pre-wrap;
  --mixin-bETWdWCDS07c_color: #3291ff;
  --mixin-bETWdWCDS07c_white-space: pre-wrap;
  --mixin-m0UNDXfmYHbu_white-space: pre-wrap;
  --mixin-McJtH7QruqPv_color: var(--token-68qUei1QL928);
  --mixin-McJtH7QruqPv_font-family: "Inter", sans-serif;
  --mixin-McJtH7QruqPv_font-weight: 500;
  --mixin-McJtH7QruqPv_font-size: 16px;
  --mixin-McJtH7QruqPv_line-height: 24px;
  --mixin-McJtH7QruqPv_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-hbjGhAJxnV68_white-space: pre-wrap;
  --plasmic-mixin-label-m_white-space: var(--mixin-hbjGhAJxnV68_white-space);
  --mixin-TyGa75GD849A_white-space: pre-wrap;
  --plasmic-mixin-label-s_white-space: var(--mixin-TyGa75GD849A_white-space);
  --mixin-hUnLkJ1aX1-W_box-shadow: 0px 12px 12px -6px #00000029,
    0px 0px 1px 0px #00000066;
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-hUnLkJ1aX1-W_box-shadow);
  --mixin-hUnLkJ1aX1-W_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-hUnLkJ1aX1-W_white-space
  );
  --mixin-doR01KQ-6eih_white-space: pre-wrap;
  --plasmic-mixin-label-l_white-space: var(--mixin-doR01KQ-6eih_white-space);
  --mixin-gnaBh_inrdJR_white-space: pre-wrap;
  --plasmic-mixin-l-heading_white-space: var(--mixin-gnaBh_inrdJR_white-space);
  --mixin-wTSEYGy49c3e_box-shadow: 0px 0px 4px 0px #0000001a,
    0px 4px 16px 0px #00000033;
  --plasmic-mixin-card-component-shadow_box-shadow: var(
    --mixin-wTSEYGy49c3e_box-shadow
  );
  --mixin-wTSEYGy49c3e_white-space: pre-wrap;
  --plasmic-mixin-card-component-shadow_white-space: var(
    --mixin-wTSEYGy49c3e_white-space
  );
  --mixin-smy_VZXdxewv_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-smy_VZXdxewv_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-NvlrSu_yhZgp_font-family);
  font-size: var(--mixin-NvlrSu_yhZgp_font-size);
  font-weight: var(--mixin-NvlrSu_yhZgp_font-weight);
  font-style: var(--mixin-NvlrSu_yhZgp_font-style);
  color: var(--mixin-NvlrSu_yhZgp_color);
  text-align: var(--mixin-NvlrSu_yhZgp_text-align);
  text-transform: var(--mixin-NvlrSu_yhZgp_text-transform);
  line-height: var(--mixin-NvlrSu_yhZgp_line-height);
  letter-spacing: var(--mixin-NvlrSu_yhZgp_letter-spacing);
  white-space: var(--mixin-NvlrSu_yhZgp_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-xKERUE4ve7GH_color);
  font-weight: var(--mixin-xKERUE4ve7GH_font-weight);
  font-size: var(--mixin-xKERUE4ve7GH_font-size);
  line-height: var(--mixin-xKERUE4ve7GH_line-height);
  letter-spacing: var(--mixin-xKERUE4ve7GH_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-puYfjVew0YH-_color);
  font-size: var(--mixin-puYfjVew0YH-_font-size);
  font-weight: var(--mixin-puYfjVew0YH-_font-weight);
  line-height: var(--mixin-puYfjVew0YH-_line-height);
  font-family: var(--mixin-puYfjVew0YH-_font-family);
  letter-spacing: var(--mixin-puYfjVew0YH-_letter-spacing);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-UrHOgHwnvaN__color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-wmbMP5AvdAYM_color);
  font-size: var(--mixin-wmbMP5AvdAYM_font-size);
  font-weight: var(--mixin-wmbMP5AvdAYM_font-weight);
  line-height: var(--mixin-wmbMP5AvdAYM_line-height);
  letter-spacing: var(--mixin-wmbMP5AvdAYM_letter-spacing);
  font-family: var(--mixin-wmbMP5AvdAYM_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-cbbRAF6R7ijN_color);
  font-size: var(--mixin-cbbRAF6R7ijN_font-size);
  font-weight: var(--mixin-cbbRAF6R7ijN_font-weight);
  line-height: var(--mixin-cbbRAF6R7ijN_line-height);
  letter-spacing: var(--mixin-cbbRAF6R7ijN_letter-spacing);
  font-family: var(--mixin-cbbRAF6R7ijN_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-bUlQlP2cdsLI_font-family);
  border-radius: var(--mixin-bUlQlP2cdsLI_border-top-left-radius)
    var(--mixin-bUlQlP2cdsLI_border-top-right-radius)
    var(--mixin-bUlQlP2cdsLI_border-bottom-right-radius)
    var(--mixin-bUlQlP2cdsLI_border-bottom-left-radius);
  padding: var(--mixin-bUlQlP2cdsLI_padding-top)
    var(--mixin-bUlQlP2cdsLI_padding-right)
    var(--mixin-bUlQlP2cdsLI_padding-bottom)
    var(--mixin-bUlQlP2cdsLI_padding-left);
  border-top: var(--mixin-bUlQlP2cdsLI_border-top-width)
    var(--mixin-bUlQlP2cdsLI_border-top-style)
    var(--mixin-bUlQlP2cdsLI_border-top-color);
  border-right: var(--mixin-bUlQlP2cdsLI_border-right-width)
    var(--mixin-bUlQlP2cdsLI_border-right-style)
    var(--mixin-bUlQlP2cdsLI_border-right-color);
  border-bottom: var(--mixin-bUlQlP2cdsLI_border-bottom-width)
    var(--mixin-bUlQlP2cdsLI_border-bottom-style)
    var(--mixin-bUlQlP2cdsLI_border-bottom-color);
  border-left: var(--mixin-bUlQlP2cdsLI_border-left-width)
    var(--mixin-bUlQlP2cdsLI_border-left-style)
    var(--mixin-bUlQlP2cdsLI_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-chUnfFChMwnm_color);
  padding-left: var(--mixin-chUnfFChMwnm_padding-left);
  border-left: var(--mixin-chUnfFChMwnm_border-left-width)
    var(--mixin-chUnfFChMwnm_border-left-style)
    var(--mixin-chUnfFChMwnm_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-xmUHDGrm-8uy_font-family);
  border-radius: var(--mixin-xmUHDGrm-8uy_border-top-left-radius)
    var(--mixin-xmUHDGrm-8uy_border-top-right-radius)
    var(--mixin-xmUHDGrm-8uy_border-bottom-right-radius)
    var(--mixin-xmUHDGrm-8uy_border-bottom-left-radius);
  padding: var(--mixin-xmUHDGrm-8uy_padding-top)
    var(--mixin-xmUHDGrm-8uy_padding-right)
    var(--mixin-xmUHDGrm-8uy_padding-bottom)
    var(--mixin-xmUHDGrm-8uy_padding-left);
  border-top: var(--mixin-xmUHDGrm-8uy_border-top-width)
    var(--mixin-xmUHDGrm-8uy_border-top-style)
    var(--mixin-xmUHDGrm-8uy_border-top-color);
  border-right: var(--mixin-xmUHDGrm-8uy_border-right-width)
    var(--mixin-xmUHDGrm-8uy_border-right-style)
    var(--mixin-xmUHDGrm-8uy_border-right-color);
  border-bottom: var(--mixin-xmUHDGrm-8uy_border-bottom-width)
    var(--mixin-xmUHDGrm-8uy_border-bottom-style)
    var(--mixin-xmUHDGrm-8uy_border-bottom-color);
  border-left: var(--mixin-xmUHDGrm-8uy_border-left-width)
    var(--mixin-xmUHDGrm-8uy_border-left-style)
    var(--mixin-xmUHDGrm-8uy_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-Cr90pgKNuF2c_display);
  flex-direction: var(--mixin-Cr90pgKNuF2c_flex-direction);
  align-items: var(--mixin-Cr90pgKNuF2c_align-items);
  justify-content: var(--mixin-Cr90pgKNuF2c_justify-content);
  list-style-position: var(--mixin-Cr90pgKNuF2c_list-style-position);
  padding-left: var(--mixin-Cr90pgKNuF2c_padding-left);
  position: var(--mixin-Cr90pgKNuF2c_position);
  list-style-type: var(--mixin-Cr90pgKNuF2c_list-style-type);
  flex-column-gap: var(--mixin-Cr90pgKNuF2c_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-C_D_hysQH2Om_display);
  flex-direction: var(--mixin-C_D_hysQH2Om_flex-direction);
  align-items: var(--mixin-C_D_hysQH2Om_align-items);
  justify-content: var(--mixin-C_D_hysQH2Om_justify-content);
  list-style-position: var(--mixin-C_D_hysQH2Om_list-style-position);
  padding-left: var(--mixin-C_D_hysQH2Om_padding-left);
  position: var(--mixin-C_D_hysQH2Om_position);
  list-style-type: var(--mixin-C_D_hysQH2Om_list-style-type);
  flex-column-gap: var(--mixin-C_D_hysQH2Om_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-KCPfguur6uz0_color);
  font-size: var(--mixin-KCPfguur6uz0_font-size);
  font-weight: var(--mixin-KCPfguur6uz0_font-weight);
  line-height: var(--mixin-KCPfguur6uz0_line-height);
  letter-spacing: var(--mixin-KCPfguur6uz0_letter-spacing);
  font-family: var(--mixin-KCPfguur6uz0_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-isGArh_qjcqY_color);
  font-size: var(--mixin-isGArh_qjcqY_font-size);
  font-weight: var(--mixin-isGArh_qjcqY_font-weight);
  line-height: var(--mixin-isGArh_qjcqY_line-height);
  letter-spacing: var(--mixin-isGArh_qjcqY_letter-spacing);
  font-family: var(--mixin-isGArh_qjcqY_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-bETWdWCDS07c_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-McJtH7QruqPv_color);
  font-family: var(--mixin-McJtH7QruqPv_font-family);
  font-weight: var(--mixin-McJtH7QruqPv_font-weight);
  font-size: var(--mixin-McJtH7QruqPv_font-size);
  line-height: var(--mixin-McJtH7QruqPv_line-height);
}
